  
.doctor-form {
  width: 600px;
  margin: 0 auto;
}

.doctor-form h3{
  text-align: center;
}

/* Título del formulario */
.doctor-form form {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Divide el formulario en dos columnas */
  grid-gap: 10px; /* Espacio entre elementos del formulario */
}

/* Etiquetas del formulario */
.doctor-form label {
  
  margin-bottom: 5px;
}

/* Entradas del formulario */
.doctor-form input {
padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* Botón de envío */
.doctor-form button {
  grid-column: 1 / -1;
  /* Ocupa todas las columnas */
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Estilo al pasar el mouse por encima del botón */
.doctor-form button:hover {
  background-color: #0056b3;
}