/* Perfil.css */

.profile-container {
  margin: 20px auto;
  width: 70%;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
}

.profile-header h2 {
  margin: 0;
}

.user-greeting {
  margin-left: auto;
  color: #005bb5;
  font-weight: bold;
  font-size: 1.2em;
}

.profile-content {
  display: flex;
}

.dashboard {
  width: 200px;
  margin-right: 20px;
}

.dashboard button {
  display: block;
  width: 100%;
  padding: 10px;
  height: 70px;
  margin-bottom: 10px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dashboard button:hover {
  background-color: #ddd;
}

.section-content {
  flex: 1;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.dashboard-button {
  background-color: #007bff;
  color: #003366;
  font-weight: bold;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
}

.dashboard-button:hover {
  background-color: #0056b3;
}

/* UsuarioInfo form styles */
.usuario-form {
  width: 600px;
  margin: 0 auto;
}

.usuario-form h3 {
  text-align: center;
}

.usuario-form form {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Divide el formulario en dos columnas */
  grid-gap: 10px; /* Espacio entre elementos del formulario */
}

.usuario-form label {
  margin-bottom: 5px;
}

.usuario-form input {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.usuario-form button {
  grid-column: 1 / -1; /* Ocupa todas las columnas */
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.usuario-form button:hover {
  background-color: #0056b3;
}
