.receta-form {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    width: 400px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .receta-form input,
  .receta-form select {
    width: calc(100% - 20px); /* Ajustar el ancho para dejar espacio para el padding */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
  }
  
  .receta-form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 3px;
  }
  
  .receta-form button:hover {
    background-color: #0056b3;
  }
  