/* Estilos base */
.registro-container {
    display:grid;
    justify-content:center;
    width: 100%;
    margin: 50px auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
}

.company-photo, .company-photo-doctor {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    background-size: cover;
    background-position: center;
}

.company-photo {
    width: 100%;
    height: 750px;
    background-image: url('/public/persona.jpg');
    margin-top: 120px;
}

.company-photo-doctor {
    width: 100%;
    height: 750px;
    background-image: url('/public/doctorlog.jpg');
    margin-top: 140px;
}

.registro-form {
    width: 100%;
    padding: 20px;
    background-color: white;
    box-sizing: border-box;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.registro-form h1 {
    color: #3b3e98;
    margin-top: 0;
}

.registro-form h4 {
    color: #7073d5bc;
}

.form-group {
    margin-bottom: 20px;
    width: 100%;
}

.form-group label {
    display: block;
    font-weight: bold;
}

.form-group input,
.registro-button {
    width: 30rem; /* Ancho deseado */
    padding: 15px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-weight: bold;
    box-sizing: border-box;
}

.registro-form select.registro-button {
    width: 30rem; /* Ancho deseado */
    padding: 15px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-weight: bold;
    box-sizing: border-box;
    background-color: white;
    color: #3b3e98;
    font-size: 16px;
}

.registro-form select.registro-button:hover {
    background-color: #f0f0f0;
}

.registro-button {
    padding: 15px;
    background-color: #ffb30f;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.registro-button:hover {
    background-color: orange;
}

.social-login {
    text-align: right;
}

.social-buttons {
    margin-top: 10px;
    text-align: left;
}

.google-button,
.facebook-button {
    margin-right: 10px;
    padding: 15px 20px;
    height: 60px;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.password-input {
    position: relative;
}

.password-input input {
    width: calc(100% - 100px); /* Ancho del input menos el botón */
    padding: 15px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-weight: bold;
    box-sizing: border-box;
}

.password-input button {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px; /* Ancho del botón */
    height: 100%;
    padding: 15px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.password-input button:focus {
    outline: none;
}

/* Estilos responsivos */
@media only screen and (max-width: 768px) {
    .registro-container {
        width: 100%;
        flex-direction: column;
    }

    .company-photo, .company-photo-doctor {
        display: none; /* Oculta la foto en pantallas pequeñas */
    }

    .registro-form {
        width: 100%;
    }

    .form-group input,
    .form-group select,
    .registro-button {
        width: 100%;
    }

    .social-login {
        text-align: center;
    }
    
    .google-button,
    .facebook-button {
        margin: 10px;
        width: calc(100% - 20px);
    }
}
