.header {
  background-color: #ffff;
  padding: 15px 10px; /* Reducir el padding en dispositivos móviles */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan en dispositivos pequeños */
}

.header-left, .header-right {
  display: flex;
  align-items: center;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan en dispositivos pequeños */
}

.header-link {
  display: flex;
  align-items: center;
  color: #1F2B6C;
  margin: 10px; /* Ajustar el margen entre los elementos */
  text-decoration: none;
  font-size: 16px; /* Reducir el tamaño de la fuente en dispositivos móviles */
  transition: color 0.3s;
}

.header-link img {
  margin-right: 5px; /* Reducir el espacio entre la imagen y el texto */
}

.header-link:hover {
  color: black;
}

.cita-button {
  display: flex;
  align-items: center;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px; /* Reducir el padding en dispositivos móviles */
  border-radius: 10px; /* Reducir el radio de borde en dispositivos móviles */
  margin: 5px; /* Ajustar el margen entre los botones */
  font-size: 16px; /* Reducir el tamaño de la fuente en dispositivos móviles */
  text-decoration: none;
}

.cita-button:hover {
  color: black;
}

.header-img {
  height: 20px; /* Reducir el tamaño de la imagen en dispositivos móviles */
  width: 20px; /* Reducir el tamaño de la imagen en dispositivos móviles */
}

@media (min-width: 768px) {
  .header-img {
    height: 30px; /* Tamaño deseado para todas las imágenes en el encabezado */
    width: 30px; /* Tamaño deseado para todas las imágenes en el encabezado */
  }
}

/* Ocultar el texto en dispositivos móviles */
@media (max-width: 768px) {
  .header-link span {
    display: none; /* Oculta el texto en dispositivos móviles */
  }
  
  .header-img {
    margin-right: 0; /* Elimina el margen entre la imagen y el borde derecho */
  }
}
